
body {
    background-image: url("img/pexels-pixabay-531754.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.theCup{
    margin:0;
    padding: 0;
}

.CupSize {
    width:250px;
    height:250px;
    border: 10px solid whitesmoke;
    border-radius: 1rem;
}

.CupSide{
    background-color: #1a1a1a;
}
.NameColor {
    background-color: #1a1a1a;
    color: whitesmoke;
}
.CoffeeItems {
    padding-left: 2em;
    padding-bottom: 0;
    padding-top: 0;
}
.IDitems {
    padding: 0;
}

.RoastItems {
    padding: 0;
}


.bgColor {
    background-color: bisque;
}